main.main
        section.story
                h2.main__h2.story__h2 Our story
                .line.story_line
                .story__wrapper
                        div.story__text
                                p.story__mainText
                                        |Founded in 2011 by John Mathew Smith,
                                        span.blue  Konstruct
                                        |  has become the number one construction management firm
                                p.story__simpleText Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
                        div.story__presentation
                                div.story__plan WE PLAN
                                div.story__manage WE MANAGE
                                div.story__build WE BUILD
        section.capabilities
                .capabilities__wrapper
                        div.capabilities__h2
                                h2.main__h2 Our capabilities
                                .line
                        p.capabilities__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
                        button.button ALL SERVICES
                .capabilities__wrapper.capabilities__cards
                        div.capabilities__card.capabilities__card1
                                h3.capabilities__h3 PROJECT AND CONSTRUCTION MANAGEMENT
                                p.capabilities__cardText Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
                        div.capabilities__card.capabilities__card2
                                h3.capabilities__h3 STRUCTURE AUDIT AND MAINTENANCE
                                p.capabilities__cardText Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
                        div.capabilities__card.capabilities__card3
                                h3.capabilities__h3 FACTORY CONSTRUCTION AND MODELING
                                p.capabilities__cardText Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
        section.mainFooter
                p.mainFooter__text Want to build something amazing?
                button.button.mainFooter_button GET IN TOUCH
