<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/main.css")
        title Konstruct
    body
        include ./../sections/_header.pug
        include ./../sections/_nav.pug
        include ./../sections/_main.pug
        include ./../sections/_footer.pug
